accelerate==1.7.0
bitsandbytes==0.45.5
ExifRead==3.3.1
imagesize==1.4.1
pillow==11.2.1
pyparsing==3.2.1
PySide6==6.9.0
transformers==4.48.3

# CogAgent
timm==1.0.15

# CogVLM
einops==0.8.1
protobuf==6.31.0
sentencepiece==0.2.0
torchvision==0.23.0
xformers==0.0.32.post2

# InternLM-XComposer2
gptqmodel==1.9.0
numpy==2.2.6

# WD Tagger
huggingface-hub==0.31.4
onnxruntime==1.22.0

# PyTorch
torch==2.8.0; platform_system != "Windows"
https://download.pytorch.org/whl/cu126/torch-2.8.0%2Bcu126-cp312-cp312-win_amd64.whl; platform_system == "Windows" and python_version == "3.12"
https://download.pytorch.org/whl/cu126/torch-2.8.0%2Bcu126-cp311-cp311-win_amd64.whl; platform_system == "Windows" and python_version == "3.11"

# FlashAttention (Florence-2, Phi-3-Vision)
flash-attn==2.8.3; platform_system == "Linux"
# Windows: Using standard flash-attn which will be compiled for the correct CUDA architecture
flash-attn==2.8.3; platform_system == "Windows" and python_version == "3.12"
flash-attn==2.8.3; platform_system == "Windows" and python_version == "3.11"
